<h1>MEDICAL EXPENSES </h1>

In [1]:
#import os
#os.chdir("A:/Documents and Data/R/Datasets-R/MedicalExpenses")

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from sklearn.preprocessing import MinMaxScaler

<h3> Importing Dataset </h3>

In [91]:
dataset = pd.read_csv('insurance.csv')
dataset = dataset.loc[:, ['age', 'sex', 'bmi', 'children', 'smoker', 'charges']]

In [92]:
dataset.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

<h3> Data Preprocessing </h3>

In [93]:
dataset['age2'] = dataset['age']*dataset['age']
dataset['bmi30'] = np.where(dataset['bmi'] > 30, 1, 0)
dataset = pd.get_dummies(dataset, columns=["sex", "smoker", "bmi30"], prefix=["sex", "smoker", "bmi30"])

In [95]:
dataset.head()

,age,bmi,children,charges,age2,sex_female,sex_male,smoker_no,smoker_yes,bmi30_0,bmi30_1
0,19,27.900,0,16884.92400,361,1,0,0,1,1,0
1,18,33.770,1,1725.55230,324,0,1,1,0,0,1
2,28,33.000,3,4449.46200,784,0,1,1,0,0,1
3,33,22.705,0,21984.47061,1089,0,1,1,0,1,0
4,32,28.880,0,3866.85520,1024,0,1,1,0,1,0

In [96]:
x = dataset.drop(['charges'], axis = 1)
y = dataset['charges']

In [97]:
from sklearn.linear_model import LinearRegression
linearModel = LinearRegression()
linearModel.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [103]:
x.columns

Index(['age', 'bmi', 'children', 'age2', 'sex_female', 'sex_male', 'smoker_no',
       'smoker_yes', 'bmi30_0', 'bmi30_1'],
      dtype='object')

In [123]:
from tkinter import *
window = Tk()
window.title("INSURANCE")

def fun():
        age = int(e1.get())
        bmi = float(e3.get())
        children = int(e2.get())
        smoker_yes = var1.get()
        smoker_no = 0 if smoker_yes == 1 else 1
        sex_male = var2.get()
        sex_female = var3.get()
        age2 = age*age
        bmi30 = 1 if bmi>30 else 0
        bmi30_0 = 0 if bmi30 == 0 else 1
        bmi30_1 = 1 if bmi30 == 1 else 1
        
        df = pd.DataFrame({'age': [age],
                    'bmi': [bmi],
                    'children':[children],
                    'age2' : [age2],
                    'sex_female': [sex_female],
                    'sex_male': [sex_male],
                    'smoker_no': [smoker_no],
                    'smoker_yes': [smoker_yes],
                    'bmi30_0': [bmi30_0],
                    'bmi30_1': [bmi30_1]})
        
        val = linearModel.predict(df)
        l1.configure(text = "Charges :: " + str(val[0]))
        


Label(window, text = "MEDICAL EXPENSES CALCULATOR     \n", font = "Ariel 15 bold").grid(row = 0, column = 1)
Label(window, text = "Age : ").grid(row = 5, column = 0)
Label(window, text = "Children : ").grid(row = 6, column = 0)
Label(window, text = "BMI : ").grid(row = 7, column = 0)
Label(window, text = "Smoker : ").grid(row = 8, column = 0)
Label(window, text = "Male : ").grid(row = 9, column = 0)
Label(window, text = "Female : ").grid(row = 10, column = 0)
l1 = Label(window, text = "Charges :: ", font = "Ariel 10 bold")
l1.grid(row = 12, column = 0)
 
cal = Button(window, text = "Calculate", command = fun)
cal.grid(row = 11, column = 1)

e1 = Entry(window)
e2 = Entry(window)
e3 = Entry(window)
var1 = IntVar()
var2 = IntVar()
var3 = IntVar()
e4 = Checkbutton(window, variable = var1)
e5 = Checkbutton(window, variable = var2)
e6 = Checkbutton(window, variable = var3)


e1.grid(row = 5, column = 1)
e2.grid(row = 6, column = 1)
e3.grid(row = 7, column = 1)
e4.grid(row = 8, column = 1)
e5.grid(row = 9, column = 1)
e6.grid(row = 10, column = 1)

window.mainloop()