In [1]:
import os
os.chdir('A:\Documents and Data\R\Datasets-R')

In [2]:
import pandas as pd

In [80]:
dataset = pd.read_csv('letterdata.csv')

In [81]:
dataset['letter'].describe()

count     20000
unique       26
top           U
freq        813
Name: letter, dtype: object

In [82]:
dataset[0:5]

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [83]:
y = dataset['letter']
x = dataset.drop(['letter'], axis=1)

In [84]:
letters = [chr(i) for i in range(65, 65+26)]
numbers = [i+1 for i in range(26)]

In [85]:
dic = {l:n for l,n in zip(letters, numbers)}

In [86]:
y_numeric = [dic[i] for i in y]
y = pd.DataFrame(y_numeric)

Note : SVM requires all features to be numeric, and moreover, that each feature is scaled to a fairly small interval.

In the above dataset, all features are integer, so we don't need to convert any feature into numbers, but some of the ranges of these integer variable appears fairly wide. Thus, we'll normalize our data.

In [90]:
from sklearn.preprocessing import MinMaxScaler

In [91]:
min_max_scaler = MinMaxScaler()
x_values = x.values
x_scaled = min_max_scaler.fit_transform(x_values)
x_scaled = pd.DataFrame(x_scaled)

C:\Users\Nuages\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [92]:
x_scaled[0:5]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.133333,0.533333,0.2,0.333333,0.066667,0.533333,0.866667,0.000000,0.400000,0.400000,0.666667,0.533333,0.000000,0.533333,0.000000,0.533333
1,0.333333,0.800000,0.2,0.466667,0.133333,0.666667,0.333333,0.333333,0.266667,0.866667,0.200000,0.600000,0.133333,0.533333,0.266667,0.666667
2,0.266667,0.733333,0.4,0.533333,0.400000,0.666667,0.400000,0.133333,0.400000,0.666667,0.200000,0.466667,0.200000,0.466667,0.200000,0.600000
3,0.466667,0.733333,0.4,0.400000,0.200000,0.333333,0.600000,0.266667,0.400000,0.266667,0.266667,0.666667,0.400000,0.666667,0.133333,0.533333
4,0.133333,0.066667,0.2,0.066667,0.066667,0.533333,0.400000,0.400000,0.400000,0.400000,0.333333,0.600000,0.066667,0.466667,0.333333,0.666667

In [93]:
from sklearn.cross_validation import train_test_split

In [94]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.197, random_state = 42)

In [76]:
len(x_train), len(y_train), len(x_test), len(y_test)

(16060, 16060, 3940, 3940)

In [96]:
from sklearn import svm

In [99]:
classifier = svm.SVC()

In [100]:
classifier.fit(x_train, y_train)

C:\Users\Nuages\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [102]:
predictions = classifier.predict(x_test)

In [104]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9723350253807107

In [105]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

             precision    recall  f1-score   support

          1       1.00      1.00      1.00       149
          2       0.92      0.98      0.95       150
          3       0.99      0.96      0.97       136
          4       0.93      0.98      0.96       155
          5       0.96      0.99      0.97       138
          6       0.94      0.97      0.95       138
          7       0.98      0.96      0.97       159
          8       0.95      0.88      0.91       144
          9       0.99      0.94      0.97       143
         10       0.95      0.99      0.97       146
         11       0.96      0.94      0.95       128
         12       0.99      0.98      0.98       153
         13       0.99      0.99      0.99       164
         14       1.00      0.95      0.98       149
         15       0.95      0.96      0.96       140
         16       0.98      0.95      0.96       170
         17       0.99      0.98      0.98       160
         18       0.89      0.95      0.92       159
         19       0.99      0.99      0.99       167
         20       1.00      1.00      1.00       158
         21       0.99      0.99      0.99       181
         22       0.99      0.95      0.97       158
         23       0.99      1.00      1.00       146
         24       0.97      0.99      0.98       152
         25       1.00      1.00      1.00       165
         26       0.99      0.99      0.99       132

avg / total       0.97      0.97      0.97      3940