# Classification of Flowers

### Importing the libraries

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

### Importing the dataset

In [8]:
dataset = pd.read_csv('iris.csv')

In [9]:
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Shuffling the dataset

In [10]:
dataset = dataset.sample(frac = 1).reset_index(drop=True)

In [11]:
dataset = dataset.drop(['Id'], axis=1)

In [12]:
x = dataset.drop(['Species'], axis = 1)
y = dataset['Species']

In [13]:
dataset['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [14]:
dataset.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0            5.0           3.0            1.6           0.2     Iris-setosa
1            5.1           3.8            1.6           0.2     Iris-setosa
2            5.9           3.0            5.1           1.8  Iris-virginica
3            5.0           3.5            1.3           0.3     Iris-setosa
4            4.8           3.0            1.4           0.3     Iris-setosa

### Splitting the dataset

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

### Training and Predictions

In [16]:
clf = LogisticRegression().fit(x_train, y_train)
y_pred = clf.predict(x_test)

C:\Users\Nuages\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Nuages\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

### Evaluation the results

In [17]:
print(classification_report(y_pred, y_test))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         7
Iris-versicolor       1.00      1.00      1.00        12
 Iris-virginica       1.00      1.00      1.00        11

      micro avg       1.00      1.00      1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30

In [34]:
print(confusion_matrix(y_pred, y_test))

[[ 7  0  0]
 [ 0  9  0]
 [ 0  3 11]]

In [36]:
print(accuracy_score(y_pred, y_test))

0.9